body{background-color: #000;}
.container {max-width: 1000px; margin: 0 auto; padding: 0 10px;}
.logo {float: left; padding-top: 10px;}
.menu-nav{float: right;margin-top: 20px;}
.menu-nav ul {list-style: none;padding: 0;margin: 0;display: flex;}
.menu-nav ul li {}
.menu-nav ul li a {display: block;padding: 5px 10px;color: #fff;text-decoration: none;}

